@import "tailwindcss";

@theme inline {
  --color-primary: #1f2a44;
  --color-primary-trans: #1f2a4431;
  --color-secondary: #2e2e2e;
  --color-white: #f7f8fa; /* Background color */
  --color-white-trans: #f7f8fa71;
  --color-grey: #6b7280; /* Secondary text and dividers */
  --color-accent: #4a6fa5; /* Icon, Hover states, highlights */
  --color-accent2: #b28c49;
  --color-accent2trans: #b28c4991;

  --font-sourceSemibold: var(--sourceSemibold);
  --font-sourceLight: var(--sourceLight);
}

@custom-variant hover (&:hover);

h1 {
  @apply leading-none tracking-[-1px] text-3xl sm:text-4xl lg:text-5xl xl:text-6xl 2xl:text-[4.5rem] text-white;
}
h2 {
  @apply leading-none tracking-[-1px] text-2xl sm:text-3xl lg:text-4xl xl:text-5xl text-primary;
}
h3 {
  @apply leading-none tracking-[-1px] text-xl sm:text-2xl lg:text-3xl xl:text-4xl text-primary;
}
p {
  @apply font-sourceLight tracking-[0px] leading-normal text-base sm:text-lg 2xl:text-xl;
}
a {
  @apply cursor-pointer hover:text-white-trans;
}

@layer components {
  .section-container {
    @apply pt-10 md:py-14 lg:py-18 xl:py-22 px-4;
  }
}

@layer utilities {
  .button {
    @apply font-sourceSemibold leading-normal text-lg sm:text-xl lg:text-2xl xl:text-3xl text-white;
  }
  .scale-up {
    @apply hover:scale-105 transition-transform duration-200;
  }
  .scale-down {
    @apply active:scale-95 transition-transform duration-200;
  }
  .shadow-up-left {
    @apply shadow-[0_0_15px_rgba(0,0,0,0.1),-4px_-4px_10px_rgba(0,0,0,0.15)];
  }
  .full-shadow {
    @apply shadow-[0_0_6px_rgba(0,0,0,0.2)];
  }
}
