@import "tailwindcss";

@theme inline {
  --color-primary: #1F2A44; 
  --color-primary-trans: #1F2A4431;
  --color-secondary: #2E2E2E;
  --color-white: #F7F8FA;               /* Background color */
  --color-white-trans: #F7F8FA71;
  --color-grey: #6B7280;                /* Secondary text and dividers */
  --color-accent: #4A6FA5;              /* Icon, Hover states, highlights */

  --font-joan: var(--font-joan);
  --font-noto: var(--font-notoSans);
}

h1 {
  @apply text-3xl sm:text-4xl lg:text-5xl xl:text-6xl 2xl:text-[6rem];
}
h2 {
  @apply text-2xl sm:text-3xl lg:text-4xl xl:text-5xl;
}
h3 {
  @apply text-xl sm:text-2xl lg:text-3xl xl:text-4xl;
}
p {
  @apply text-xs sm:text-sm lg:text-base xl:text-lg;
}

@layer utilities {
  .scale-up {
    @apply  hover:scale-105 transition-transform duration-200;
  }
  .shadow-up-left {
    @apply shadow-[0_0_15px_rgba(0,0,0,0.1),-4px_-4px_10px_rgba(0,0,0,0.15)];
  }
}